[submodule "vim/bundle/Jenkinsfile-vim-syntax"]
	path = vim/bundle/Jenkinsfile-vim-syntax
	url = git@github.com:martinda/Jenkinsfile-vim-syntax.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
